.view{
    text-align: center;
    padding-top: 100px;
    background-color: rgb(241,232,218);
    z-index: 1;
    position: relative;
}
.view button{
    background-color:  rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255,0);
    border-radius: 30px;
    padding: 12px 0px;
    border: 1px solid black;
}
.view button:hover{
    cursor: pointer;
    background-color: black;
}
.view button:hover a{
    color: white;
}
.view button a{
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 12px 50px;
}
