.section-8{
    width: 100%;
    padding: 0px 20px;
    padding-top: 100px;
    background-color: rgb(241,232,218);
    z-index: 1;
    position: relative;
}
.section-8 .item-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-8 .item-1 img:first-child{
    width: 83px;
    height: 83px;
}
.section-8 .item-1 img:last-child{
    width: 40px;
    height: 40px;
    border-radius: 200%;
    border: 1px solid black;
    padding: 10px;
}
.section-8 .item-2{
    display: flex;
    margin-top: 50px;
}
.section-8 .item-2 p{
    margin: 0px;
}
.section-8 .item-2 .col1{
    width: 45%;
}
.section-8 .item-2 .col1 .contact hr,
.section-8 .item-2 .col2 .menu hr,
.section-8 .item-2 .col3 .socialMedia hr,
.section-8 .item-2 .hiddenCol .none hr{
    margin: 0;
    margin-top: 10px;
}
.section-8 .item-2 .col1 .containerTitle{
    display: flex;
    padding-top: 30px;
    width: 100%;
    margin: 0;
}
.section-8 .item-2 .col1 .containerTitle hr{
    margin: 10px 0px;
}
.section-8 .item-2 .col1 .containerTitle .direct{
    margin-top: 60px;
}
.section-8 .item-2 .col1 .containerTitle .titleLeftContact{
    width: 50%;
}
.section-8 .item-2 .col1 .containerTitle .titleLeftContact p{
    font-size: 16px;
    font-weight: 200;
}
.section-8 .item-2 .col1 .containerTitle .titleRightContact{
    width: 50%;
}
.section-8 .item-2 .col1 .containerTitle .titleRightContact .item div{
    display: flex;
}
.section-8 .item-2 .col1 .containerTitle .titleRightContact .item div img {
    margin-right: 20px;
}
.section-8 .item-2 .col1 .containerTitle .titleRightContact .item div p{
    font-size: 16px;
    font-weight: 200;
}
.section-8 .item-2 .hiddenCol{
    width: 25%;
}
.section-8 .item-2 .hiddenCol p{
    visibility: hidden;
}
.section-8 .item-2 .link{
    display: flex;
    width: 30%;
}
.section-8 .item-2 .col2,.section-8 .item-2 .col3{
    width: 50%;
}
.section-8 .item-2 .col2 ul,.section-8 .item-2 .col3 ul{
    padding: 0px;
    padding-top: 30px;
}
.section-8 .item-2 .col2 ul li,.section-8 .item-2 .col3 ul li{
    list-style: none;
}
.section-8 .item-2 .col2 ul li a,.section-8 .item-2 .col3 ul li a{
    color: black;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
}
.section-8 .item-2 .col2 ul li a:hover,.section-8 .item-2 .col3 ul li a:hover{
    opacity: 0.7;
    cursor: pointer;
}
.section-8 .item-3{
    width: 100%;
    margin-top: 150px;
}
.section-8 .item-3 .top{
    display: flex;
    justify-content: space-between;
}
.section-8 .item-3 .top img{
    width: 240px;
}
.section-8 .item-3 .top button:first-child{
    background-color: rgba(255, 255, 255,0);
    border-radius: 30px;
    margin-top: 40px;
    padding: 10px 0px;
}
.section-8 .item-3 .top button:first-child:hover{
    cursor: pointer;
    background-color: black;
}
.section-8 .item-3 .top button:first-child:hover a{
    color: white;
}
.section-8 .item-3 .top button:first-child a{
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 10px 50px;
    font-weight: 500;
}
.section-8 .item-3 .top button:last-child{
    background-color: black;
    border-radius: 30px;
    margin-top: 40px;
    padding:10px 0px ;
}
.section-8 .item-3 .top button:last-child:hover{
    cursor: pointer;
    opacity: 0.7;
}
.section-8 .item-3 .top button:last-child a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 12px 50px;

}
.section-8 .item-3 .top .btn{
    display: flex;
    gap: 20px;
    padding: 0px;
}
.section-8 .item-3 .bottom{
    display: flex;
    justify-content: space-between;
}
.section-8 .item-3 hr{
    margin: 0;
    margin-top: 25px;
}
.section-8 .item-3 .bottom p{
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
    padding: 15px 0px;
}
.section-8 .item-3 .bottom p a{
    text-decoration: none;
    color: black;
}
.section-8 .item-3 .bottom p a:hover{
    opacity: 0.7;
}
@media (max-width: 768px){
    .section-8 .item-2{
        display: block;
    }
    .section-8 .item-2 .link{
        width: 100%;
    }
    .section-8 .item-2 .col2,.section-8 .item-2 .col3{
        width: 50%;
    }
    .section-8 .item-2 .col1{
        width: 100%;
    }
    .section-8 .item-2 .col2,.section-8 .item-2 .col3{
        width: 50%;
    }
    .section-8 .item-2 .hiddenCol hr{
        display: none;
    }
    .section-8 .item-2 .col1 .containerTitle .titleLeftContact{
        width: 30%;
    }
    .section-8 .item-2 .col1 .containerTitle .titleRightContact{
        width: 70%;
    }
    .section-8 .item-3 .top{
        display: block;
    }
    .section-8 .item-3 .top button:first-child a,.section-8 .item-3 .top button:last-child a{
        padding: 10px 30px;
    }
    .section-8 .item-3{
        margin-top: 100px;
    }
    .section-8 .item-3 .bottom{
        display: block;
    }
    .section-8 .item-3 .bottom p{
        padding: 15px 0px;
        padding-top: 0px;
    }
    .section-8 .item-3 hr{
        margin: 0;
        margin: 15px 0px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .section-8 .item-2 .col1{
        width: 60%;
    }
    .section-8 .item-2 .hiddenCol{
        width: 5%;
    }
    .section-8 .item-2 .link{
        width: 35%;
    }
}