.section-1{
    padding:0px 20px;
    padding-top: 100px;
    background-color: rgb(241,232,218);
    z-index: 1;
    position: relative;
}
.section-1 h1{
    font-size: 36px;
    line-height: 48px;
    font-weight: 200;
    margin: 0;
}
.section-1 .content video{
    height: 250px;
    border-radius: 10px;
    margin-top: 30px;
}
.section-1 .content video source{
    margin: 0;
    padding: 0px;
    border-radius: 10px;
}
.section-1 .content span{
    display: block;
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
}
@media (max-width: 768px){
    .section-1 .content video{
        width: 100%;
    }
    .section-1 .content video source{
        width: 100%;
    }
}