.containerSuitesRoom{
    width: 100%;
    padding:0px 20px;
    padding-top: 100px;
    background-color: rgb(241,232,218);
    position: relative;
    z-index: 1;
}
.suitesroom{
    display: flex;
    width: 100%;
    gap: 20px;
}
.containerSuitesRoom h1{
    font-size: 36px;
    line-height: 48px;
    font-weight: 200;
}
.containerSuitesRoom hr{
    margin-bottom: 40px;
}
.suitesroom .suitesLeft{
    width: 40%;
}
.suitesroom .suitesLeft h3{
    font-size: 24px;
    font-weight: 200;
    line-height: 36px;
}
.containerTitleSuites{
    margin-top: 50px;
    display: flex;
}
.containerTitleSuites .titleLeft{
    width: 50%;
}
.containerTitleSuites .titleLeft p{
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}
.containerTitleSuites .titleLeft hr{
    margin: 0;
    margin: 10px 0px;
}
.containerTitleSuites .titleRight{
    width: 50%;
}
.containerTitleSuites .titleRight .item div{
    display: flex;
}
.containerTitleSuites .titleRight .item div img{
    margin-right: 20px;
    width: 24px;
    height: 24px;
}
.containerTitleSuites .titleRight .item div p{
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}
.containerTitleSuites .titleRight .item hr{
    margin: 10px 0px;
}
.suitesroom .suitesRight{
    width: 60%;
}
.suitesroom .suitesRight .suitesChild{
    display: flex;
    width: 100%;
    gap: 10px;
}
.suitesroom .suitesRight .suitesChild .item-1{
    width: 50%;
}
.suitesroom .suitesRight .suitesChild .item-1 .img{
    width: 100%;
    height: 45vh;
    overflow: hidden;
    position: relative; 
}
.suitesroom .suitesRight .suitesChild img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s;
    object-fit: cover;
}
.suitesroom .suitesRight .suitesChild img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.suitesroom .suitesRight .suitesChild button{
    margin-top: 20px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    padding: 7px 0px;
    border-radius: 30px;
    transition: all 0.5s;
}
.suitesroom .suitesRight .suitesChild button:hover{
    background-color: black;
}
.suitesroom .suitesRight .suitesChild button a{
    font-weight: 200;
    color: black;
    text-decoration: none;
    padding: 7px 50px;
}
.suitesroom .suitesRight .suitesChild button:hover a{
    color: white;
}
@media (max-width: 768px){
    .suitesroom{
        display: block;
    }
    .suitesroom .suitesLeft{
        width: 100%;
    }
    .suitesroom .suitesRight{
        width: 100%;
    }
    .suitesroom .suitesRight .suitesChild{
        display: block;
        width: 100%;
        gap: 10px;
    }
    .suitesroom .suitesRight .suitesChild .item-1{
        margin-top: 50px;
        width: 100%;
}
}
@media (min-width: 768px) and (max-width: 1024px){
    .containerTitleSuites .titleLeft{
        width: 40%;
    }
    .containerTitleSuites .titleRight{
        width: 60%;
    }
    .suitesroom .suitesRight .suitesChild .item-1{
        margin-top: 20px;
    }
    .suitesroom .suitesRight .suitesChild .item-1 .img{
       height: 15vh;
    }
}