.title{
    padding:0px 20px;
}
.title p{
    font-size: 36px;
    line-height: 48px;
    font-weight: 200;
    margin: 0;
}
.content-1{
    margin-top: 100px;
    padding: 0px 20px;
    width: 45%;
}
.content-1 p{
    font-size: 24px;
    font-weight: 200;
    line-height: 36px;
}
.content-1 span{
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
}
.containerRooms {
    margin-top: 100px;
    display: flex;
    padding: 0px 20px;
    gap: 50px;
}
.containerRooms .containerLeft{
    width: 50%;
}
.containerRooms .containerLeft .attributes p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
}
.containerRooms .containerLeft .attributes hr{
    margin: 10px 0px;
}
.containerRooms .containerTitle{
    display: flex;
}
.containerRooms .titleLeft{
    width: 50%;
}
.containerRooms .titleRight{
    width: 50%;
}
.containerRooms .titleRight .itemVila div{
    display: flex;
    align-items: center;
}
.containerRooms .titleRight .itemVila div p{
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    margin: 0;
    margin-left: 10px;
}
.containerRooms .titleRight .itemVila hr{
    margin: 10px 0;
}
.containerRooms .containerRight{
    width: 50%;
}
.containerRooms .containerRight .facilities p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
}
.containerRooms .containerRight .facilities hr{
    margin: 10px 0px;
}
.containerRooms .containerRight .btn{
    display: block;
    padding: 0px;
    width: 100%;
    margin-top: 20px;
}
.containerRooms .containerRight .btn button{
    border: 1px solid black;
    width: 100%;
    text-align: start;
    border-radius: 10px;
    background-color: rgb(241,232,218);
    padding: 20px 20px;
}
.containerRooms .containerRight .btn button a{
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    color: black;
}
.containerRooms .containerRight .btn button .multi-collapse{
    margin-top: 20px;
}
.containerRooms .containerRight .btn button .multi-collapse li{
    margin: 0;
    padding: 0px;
}
/*  */
.containerPhotoGallery{
    padding: 0px 20px;
    margin-top: 100px;
}
.containerPhotoGallery p{
    font-size: 16px;
    line-height:24px;
    font-weight: 500;
    margin: 0;
}
.containerPhotoGallery hr{
    margin-top: 10px;
    margin-bottom: 20px;
}