
.gallery {
    column-count: 4;
    column-gap: 20px;
    width: 100%;
}
.gallery .item {
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    position: relative;
    overflow: hidden;
}
.gallery .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: 0.3s ease-in-out;
}
.gallery .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-in-out;
    border-radius: 10px;
}
.gallery .item:hover::after {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}