.section-7{
    padding: 0px 20px;
    padding-top: 100px;
    background-color: rgb(241,232,218);
    position: relative;
    z-index: 1;
}
.section-7 .location,.section-7 .title{
    font-weight: 200;
    font-size: 36px;
    margin: 0px;
    line-height: 48px;
}
.section-7 .title{
    margin-top: 40px;
    padding: 0px;
}
.section-7 .bottom{
    display: flex;
    align-items: end;
    gap: 20px;
}
.section-7 .img-bottom{
    display: flex;
    gap: 20px;
    align-items: end;
    width: 60%;
}
.section-7 .item-1{
    width: 40%;
    height: 40vh;
    padding-right: 80px;
}
.section-7 .item-1 p{
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    margin: 0px;
}
.section-7 .item-1 button{
    background-color: rgba(255, 255, 255,0);
    border-radius: 30px;
    padding: 12px 0px;
    margin-top: 40px;
    border: 1px solid black;
}
.section-7 .item-1 button:hover{
    cursor: pointer;
    background-color: black;
}
.section-7 .item-1 button:hover a{
    color: white;
}
.section-7 .item-1 button a{
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 12px 50px;
}
.section-7 .item-2{
    width: 50%;
    height: 73vh;
}
.section-7 .item-3 {
    position: relative;
    width: 50%;
    height: 88vh;
}

.section-7 .item-3 video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.section-7 .item-3 source {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.section-7 img{
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
}
@media (max-width: 768px){
    .section-7 .bottom{
        display: block;
        width: 100%;
    }
    .section-7 .img-bottom{
        width: 100%;
        margin-top: 30px;
    }
    .section-7 .item-1{
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .section-7 .item-2, .section-7 .item-3{
        width: 50%;
    }
    .section-7 .item-1 p{
        margin-top: 50px;
    }
    .section-7 .item-2{
        width: 50%;
        height: 25vh;
    }
    .section-7 .item-3 {
        position: relative;
        width: 50%;
        height: 35vh;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .section-7 .item-1{
        height: 100%;
        padding-right: 20px;
    }
    .section-7 .item-2{
        width: 50%;
        height: 25vh;
    }
    .section-7 .item-3 {
        position: relative;
        width: 50%;
        height: 35vh;
    }
}