.localtionChild{
    padding: 0px 20px;
}
.localtionChild .location,.localtionChild h1{
    font-weight: 200;
    font-size: 36px;
    margin: 0px;
    line-height: 48px;
}
.localtionChild .title{
    margin-top: 40px;
}

.localtionChild .bottom{
    display: flex;
    align-items: end;
    gap: 20px;
    margin-top: 50px;

}
.localtionChild .item-1{
    width: 40%;
    padding-right: 80px;
}
.localtionChild .item-1 p{
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    margin: 0px;
}
.bottom_img{
    display: flex;
    width: 60%;
    gap: 20px;
    height: 90vh;
    align-items: end;
}
.localtionChild .item-2{
    width: 50%;
    height: 85%;
}
.localtionChild .item-3 {
    position: relative;
    width: 50%;
    height: 100%;
}

.localtionChild .item-3 video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.localtionChild .item-3 source {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.localtionChild img{
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
}
@media (max-width: 768px){
    .localtionChild .bottom{
        display: block;
    }
    .localtionChild .item-1{
        width: 100%;
        padding-right: 0px;
    }
    .bottom_img{
        width: 100%;
        height: 40vh;
        margin-top: 50px;
    }
    
    .localtionChild .item-2{
       height: 75%;
    }
    .localtionChild .item-3 {
        position: relative;
        width: 50%;
        height: 100%;
    }
    .localtionChild .item-3 video {
        height: 100%;
    }
    
}
@media (min-width: 768px) and (max-width: 1024px){
    .bottom_img{
        height: 50vh;
    }
    .localtionChild .item-1{
        width: 40%;
        padding-right: 0px;
    }
}